.card {
    margin-left: 20px;
}


body {
    font-family: 'Space Mono';
}

a {
    text-decoration: none;
    color: #d5a000;
}

a:hover {
    color: black;
}

.title-page {
    margin-left: 18px;
}

.btn-primary {
    background-color: #5e94e4;
    border: none;

}

.btn-warning {
    background-color: #d5a000;
}

.sub-title {
    background-color: #5e94e4;
}


.btn-primary:hover {
    background-color: #2055a5;
    border: none;
}

.dash-pics {
    width: 100%;
    height: 275px;
}